.grow {
  transition-timing-function: ease-out;
  transition: 3000ms;
  transform: scale(1.1);
}

.answer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.answer-section .next-question-button {
  margin-top: 5%;
  margin-bottom: 5%;
  background: darkgrey;
}