.notification-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  min-width: 350px;
  max-width: 350px;
  white-space: normal;
  margin-top: 3%;
}