.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  min-width: 350px;
  max-width: 350px;
  white-space: normal;
  margin-top: 3%;
}
.menu-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5%;
}